<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signup/verifyemail.css" type="text/css">
    <script src="/signup/verifyemail.js" type="text/javascript"></script>
    <title>VERIFY EMAIL</title>
</head>
<body>
    <div class="confirmation">
        <form onsubmit='handleForm(event)' id='register_form' action="/signup/verifyemail" method="POST"> 
                <div>
                    <label for="confirmation_code">Confirmation Code</label>
                    <input type="string" id="confirmation_code" name="confirmation_code" required>
                </div>
                <button type="submit">Confirm</button>
        </form>
        <a href="/">Log in</a>
    </div>
</body>
</html>